DATABASE_URI=mysql+pymysql://root:test@db:3306/cat-ui?charset=utf8mb4
REPORT_LOCATION=/opt/cat-report
CAT_BE_ENDPOINT=http://localhost:8000/api
SNAPSHOT_DELIVERY_CHANNEL_NAME=s3_main_delivery_channel
AWS_DEFAULT_REGION=ap-southeast-1
